:root {

    --primary-gradient: linear-gradient(90deg, #06b6d4, #3b82f6);

    --primary-glow: #22d3ee;

    --bg-main: #020617;

    --bg-secondary: #0f172a;

    --bg-card: #1e293b;

    --text-main: white;

    --text-secondary: #94a3b8;

    --profit: #4ade80;

    --danger: #ef4444;

}

* {
    touch-action: manipulation;
}

html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    -webkit-user-select: none;
    user-select: none;
}

.primaryButton {

    background: var(--primary-gradient);

    border: none;

    padding: 12px;

    border-radius: 8px;

    color: white;

    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 0 15px rgba(6, 182, 212, 0.5);

    transition: 0.3s;

}

.primaryButton:hover {

    transform: scale(1.05);

    box-shadow: 0 0 25px rgba(6, 182, 212, 0.9);

}

.card {

    background: var(--bg-card);

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    transition: 0.3s;

}


.card:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 30px rgba(6, 182, 212, 0.3);

}


body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background: var(--bg-main);

    color: var(--text-main);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, sans-serif;
}

body {
    background: #0b0f1a;
    color: #ffffff;
}

a {
    color: #4fd1c5;
    text-decoration: none;
    margin-left: 15px;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1f2937;
}

.footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #1f2937;
    font-size: 14px;
    color: #9ca3af;
}

@keyframes pulseProfit {

    from {

        text-shadow: 0 0 5px lime;

    }

    to {

        text-shadow: 0 0 20px lime;

    }

}